// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #dc143c;
  --ion-color-primary-rgb: 220, 20, 60;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #c21235;
  --ion-color-primary-tint: #e02c50;

  --ion-color-secondary: #ff0d57;
  --ion-color-secondary-rgb: 255, 13, 87;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #e00b4d;
  --ion-color-secondary-tint: #ff2568;

  --ion-color-tertiary: #00bed6;
  --ion-color-tertiary-rgb: 0, 190, 214;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #00a7bc;
  --ion-color-tertiary-tint: #1ac5da;

  --ion-color-success: #29ffbd;
  --ion-color-success-rgb: 41, 255, 189;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #24e0a6;
  --ion-color-success-tint: #3effc4;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #ff0000;
  --ion-color-danger-rgb: 255, 0, 0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e00000;
  --ion-color-danger-tint: #ff1a1a;

  --ion-color-medium: #6b6b6b;
  --ion-color-medium-rgb: 107, 107, 107;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #5e5e5e;
  --ion-color-medium-tint: #7a7a7a;

  --ion-color-light: #dcdcdc;
  --ion-color-light-rgb: 220, 220, 220;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #c2c2c2;
  --ion-color-light-tint: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #dc143c;
  --ion-color-primary-rgb: 220, 20, 60;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #c21235;
  --ion-color-primary-tint: #e02c50;

  --ion-color-secondary: #ff0d57;
  --ion-color-secondary-rgb: 255, 13, 87;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #e00b4d;
  --ion-color-secondary-tint: #ff2568;

  --ion-color-tertiary: #00bed6;
  --ion-color-tertiary-rgb: 0, 190, 214;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #00a7bc;
  --ion-color-tertiary-tint: #1ac5da;

  --ion-color-success: #29ffbd;
  --ion-color-success-rgb: 41, 255, 189;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #24e0a6;
  --ion-color-success-tint: #3effc4;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #ff0000;
  --ion-color-danger-rgb: 255, 0, 0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e00000;
  --ion-color-danger-tint: #ff1a1a;

  --ion-color-medium: #6b6b6b;
  --ion-color-medium-rgb: 107, 107, 107;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #5e5e5e;
  --ion-color-medium-tint: #7a7a7a;

  --ion-color-light: #dcdcdc;
  --ion-color-light-rgb: 220, 220, 220;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #c2c2c2;
  --ion-color-light-tint: #e0e0e0;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #dc143c;
	--ion-background-color-rgb: 220,20,60;

	--ion-text-color: #ffffff;
	--ion-text-color-rgb: 255,255,255;

	--ion-color-step-50: #de2046;
	--ion-color-step-100: #e02c50;
	--ion-color-step-150: #e13759;
	--ion-color-step-200: #e34363;
	--ion-color-step-250: #e54f6d;
	--ion-color-step-300: #e75b77;
	--ion-color-step-350: #e86680;
	--ion-color-step-400: #ea728a;
	--ion-color-step-450: #ec7e94;
	--ion-color-step-500: #ee8a9e;
	--ion-color-step-550: #ef95a7;
	--ion-color-step-600: #f1a1b1;
	--ion-color-step-650: #f3adbb;
	--ion-color-step-700: #f5b9c5;
	--ion-color-step-750: #f6c4ce;
	--ion-color-step-800: #f8d0d8;
	--ion-color-step-850: #fadce2;
	--ion-color-step-900: #fce8ec;
	--ion-color-step-950: #fdf3f5;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #dc143c;
	--ion-background-color-rgb: 220,20,60;

	--ion-text-color: #ffffff;
	--ion-text-color-rgb: 255,255,255;

	--ion-color-step-50: #de2046;
	--ion-color-step-100: #e02c50;
	--ion-color-step-150: #e13759;
	--ion-color-step-200: #e34363;
	--ion-color-step-250: #e54f6d;
	--ion-color-step-300: #e75b77;
	--ion-color-step-350: #e86680;
	--ion-color-step-400: #ea728a;
	--ion-color-step-450: #ec7e94;
	--ion-color-step-500: #ee8a9e;
	--ion-color-step-550: #ef95a7;
	--ion-color-step-600: #f1a1b1;
	--ion-color-step-650: #f3adbb;
	--ion-color-step-700: #f5b9c5;
	--ion-color-step-750: #f6c4ce;
	--ion-color-step-800: #f8d0d8;
	--ion-color-step-850: #fadce2;
	--ion-color-step-900: #fce8ec;
	--ion-color-step-950: #fdf3f5;
  }
}

